<div class="flex flex-col min-h-screen">
  <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
  
  <div class="flex flex-1">
    <app-sidebar [isOpen]="sidebarOpen" (toggleEvent)="toggleSidebar()"></app-sidebar>
    
    <div class="flex-1 pt-14 md:pt-16 md:ml-64 transition-all duration-300">
      <main class="p-2 sm:p-3 md:p-6">
        <div class="container mx-auto">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
  
  <app-footer class="md:ml-64 transition-all duration-300"></app-footer>
</div>
